<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit maxime nesciunt atque porro aliquam
      deleniti optio ullam ipsum natus nemo?</p>
  </div>
  <div class="card card--secondary">
    <header class="card__header">
      card header
    </header>
    <div class="card__body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ipsum molestiae enim hic illo nulla iure iusto
        sunt ut amet?</p>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 class="block__header">Header</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit maxime nesciunt atque porro aliquam
      deleniti optio ullam ipsum natus nemo?</p>
  </div>
</section>